<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="angular.js" defer></script>

    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>

    <title>homework_22_05_18</title>
</head>
<body>
    <div ng-controller="ListUserController as list">
        <div list-user1 info="list.student[0]"></div>
        <div list-user2 info="list.student[1]"></div>
        <div list-user3 info="list.student[2]"></div>
        <div list-user4 info="list.student[3]"></div>
        <div list-user5 info="list.student[4]"></div>








        <!--<ul >-->
        <!--<li ng-repeat="list in list.student">-->
        <!--<p class="avatar"><span>{{list.avatarnik}}</span> </p>-->
        <!--<h2>{{list.name}}</h2>-->
        <!--<h4>{{list.profession}}</h4>-->

        <!--</li>-->

        <!--</ul>-->

        <!--<ul >-->
        <!--<li ng-repeat="list in list.student">-->
        <!--<list-user></list-user>-->
        <!--</li>-->
        <!--</ul>-->

    </div>
</body>
</html>




