.avatar

 background-color #2b2b2b
 width: 100px
 height: 100px
 border-radius 50%
 border 1px solid
 display inline-block
 text-align center

div div

 width 300px
 height 150px
 display inline-block
 margin 20px



span
 color white
 position relative
 top 30px
 font-size 32px

img,p
 border-radius 50%
 display inline-block
 position relative
 float left
 margin 8px





