.ui-icon.Facebook {
  background: url("img/facebook.png") 0 0 no-repeat;
  background-size: contain;
}
.ui-icon.Vkontakte {
  background: url("img/vk.png") 0 0 no-repeat;
  background-size: contain;
}
.ui-icon.Twetter {
  background: url("img/twitter.png") 0 0 no-repeat;
  background-size: contain;
}
.ui-icon.Viber {
  background: url("img/viber.png") 0 0 no-repeat;
  background-size: contain;
}
