<!doctype html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="src/bootstrap.min.css">
    <link rel="stylesheet" href="style/main.css">
    <script src="src/angular.js" defer></script>
    <script src="script/main.js" defer></script>
    <script src="src/chance.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular_part_1_path_2</title>
</head>
<body>
<header>
    <h1>Платья ручная робота</h1>
    <h3>Оставайся всегда совершенной </h3>
</header>

<div ng-controller="PageController as page">
    <input type="image" name="" id="plit" src="icons/plit.ico" ng-click="funclick($event)">
    <input type="image" name="" id="spisok" src="icons/spis.ico" ng-click="funclick($event)">
</div>

<div class="content wrapper" ng-class="{'app-loaded': true}" ng-controller="ProductsController as product" >
    <p>{{t}},{{f}}</p>
    <div class="model" ng-repeat="model in product.model" ng-controller="TabController as tab" >
        <span> № {{model.article}} </span>

        <div class="gallery" ng-controller="GalleryController as gallery">
            <div class="img-wrap">
                <img ng-src="img/{{product.model[$index].article}}/{{product.modelfoto[1].images[gallery.current]}}">
            </div>
            <ul class="img-thumbnail clearfix" ng-init="index = product.model[$index].article">

                <li class="smile" ng-repeat="image in product.modelfoto[1].images track by $index">
                    <img class="smile" ng-src="img/{{index}}/{{image}}" ng-click="gallery.setCurrent($index) ">
                </li>
            </ul>
        </div>

        <button type="button">to buy</button>

        <ul class="nav nav-pills">
            <li><a href ng-click="tab.selectedTab(1)">Description</a></li>
            <li><a href ng-click="tab.selectedTab(2)">Size</a></li>
            <li><a href ng-click="tab.selectedTab(3)">Price</a></li>
            <li><a href ng-click="tab.selectedTab(4)">Specification</a></li>
        </ul>

        <div class="panel" ng-show="tab.isSelectedTab(1)">
            <!--<h4>Description</h4>-->
            <blockquote>{{model.description}}</blockquote>
        </div>

        <div class="panel" ng-show="tab.isSelectedTab(2)">
            <!--<h4>Size</h4>-->
            <blockquote>{{model.size}}</blockquote>
        </div>

        <div class="panel" ng-show="tab.isSelectedTab(3)">
            <!--<h4>Price</h4>-->
            <blockquote>{{model.price}} грн.</blockquote>
        </div>
        <div class="panel" ng-show="tab.isSelectedTab(4)">
            <!--<h4>Price</h4>-->
            <blockquote>{{model.specification}}
                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                      ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

                    <blockquote>
                        <b>Size:</b> {{ reviewCtrl.review.size }} <br><hr>
                        <b>Country: </b>{{ reviewCtrl.review.country }}<br><hr>
                        <b>Do you like it ? </b><br>
                        {{ ((reviewCtrl.review.like) ? 'Yes' : 'No' )}}<br><hr>
                        <b>Dress length :</b><br>{{ reviewCtrl.review.long }}<br><hr>
                        <b>Choose a color :</b><br>{{ reviewCtrl.arr.join() }}<br><hr>

                        <div><b>Description: </b><i>– {{ reviewCtrl.review.description }}</i></div><br><br><hr>
                    </blockquote>


                    <fieldset class="form-group">
                        <input
                                class="form-control"
                                type="number"
                                placeholder="Enter your size"
                                ng-model="reviewCtrl.review.size">
                    </fieldset>

                    <fieldset class="form-group">
                        <input
                                class="form-control"
                                type="text"
                                placeholder="Enter country"
                                ng-model="reviewCtrl.review.country">
                    </fieldset>
                    <fieldset>
                        <b>Like ?</b>
                        <input
                                type="checkbox"
                                ng-model="reviewCtrl.review.like"

                        />
                    </fieldset>

                    <fieldset class="form-group">
                                <textarea
                                        class="form-control"
                                        ng-model="reviewCtrl.review.description"
                                        placeholder="Describe the product..."
                                        required>

                                </textarea>
                    </fieldset>


                    <fieldset class="form-group">Dress length?<br>
                        A short <input
                               type="radio"
                               ng-model="reviewCtrl.review.long"
                               type="radio"
                               value="A short"
                           /><br>
                        Long <input
                                type="radio"
                                ng-model="reviewCtrl.review.long"
                                type="radio"
                                value="Long"
                        /><br>

                    </fieldset>
                    <fieldset class="form-group" >
                        <select ng-model="colors">
                            <option value="">Select a colors</option>
                            <option
                                    ng-repeat="colors in reviewCtrl.colors"
                                    value="{{ colors }}">{{ colors }}
                            </option>
                         </select><br>
                        <input type="button" ng-click= "reviewCtrl.addReview(colors)" value="Add..."/>

                    </fieldset>
                    <!--<fieldset class="form-group">-->
                        <!--<input class="btn btn-primary" type="submit" value="Submit" />-->

                    <!--</fieldset>-->
                </form>
            </blockquote>

        </div>

    </div>
        <!--построение списка-->



    <div class="spisok_main" ng-repeat="model in product.model">

        <img ng-src="img/{{product.model[$index].article}}/{{product.modelfoto[0].image}}" alt="">

        <div class="spisok tab">
            <h4>Description</h4>
            <p>{{model.description}}</p>

        </div>
        <div class="spisok tab">
            <h4>Size</h4>
            <p>{{model.size}}</p>

        </div>
        <div class="spisok tab">
            <h4>Price</h4>
            <p>{{model.price}} грн.</p>

        </div>
    </div>

</div>


</body>
</html>