li {
  border: 1px solid #000;
  list-style-type: none;
  display: inline;
  padding: 5px;
  margin-right: 2px;
  background-color: #757a7d;
}
ul {
  margin-bottom: 3px;
  padding-left: 0;
}
li.active {
  background-color: #fff;
  border: 2px solid;
  border-color: #006400;
  border-bottom: 1px solid #fff;
}
.tabs-main {
  position: relative;
  width: 600px;
  height: auto;
}
div.active {
  display: block;
  border: 2px solid #006400;
  width: 600px;
}
.tabs {
  display: none;
}
