.alert {
  padding: 10px;
  text-align: left;
  margin: 10px;
  border-radius: 0.5em;
}
.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
}
.alert-info {
  background-color: #d9edf7;
  color: #31708f;
}
.alert-warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.alert-danger {
  background-color: #f2dede;
  color: #b84442;
}
