.btn
  width auto
  height @width
  padding-top 10px
  padding-bottom  10px
  padding-left 20px
  padding-right 20px
  color black
  margin 5px
  border-radius 0.5em
  border 1px solid
  background-color white

.success
  background-color mediumseagreen
  color: white

.primary
  background-color dodgerblue
  color: white

.info
  background-color mediumturquoise
  color: white
.warning
  background-color sandybrown
  color: white
.danger
  background-color indianred
  color: white