.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.choice
  width 50px
  height @width
  button
   border-radius 0.5em
   background-color rosybrown
   width 70px






.basket

  width auto
  margin 0 auto



  .basket-table
    width auto
    margin 0 auto

    tr
      background-color #5bc0de







