.modalMessage {
  padding: 50px;
  width: 400px;
  height: auto;
  background-color: #777;
  margin: 0 auto;
  position: initial;
  border-radius: 20%;
}
.view {
  border: 2px solid #f00;
  background-color: #f4a460;
  width: 100%;
  height: 100%;
  position: absolute;
}
.none {
  display: none;
}
.tableProducts tr {
  background-color: #9cf;
}
.tableProducts button {
  border-radius: 0.8em;
  background-color: #67b168;
  border: none;
  bottom: 5px;
}
