
path
  stroke-dasharray 500
  //stroke-dashoffset 500
  animation cat 4s infinite ease-in

circle
  stroke-dasharray 350
  animation head 4s infinite


 @keyframes cat
   from
     stroke-dashoffset 500
   to
     stroke-dashoffset 0


@keyframes head
  from
    stroke-dashoffset 350
   to
     stroke-dashoffset 0