.is-error::-webkit-input-placeholder
    color red
    font-size 14px
    font-weight bold

.email_error
    color red
    font-size 14px
    font-weight bold

.loading
    width: 100px
    height: 50px
    background-color white
    position relative
    display none
.is-loading
    background-color red
    width: 0px
    height: 50px
p
 position absolute

.is-success
  color black
  background-color #007069
  font-size 24px
  font-weight bold
  width: 100px
  height: 30px
  display none
  border-radius 25%
  margin-top 10px
